fastapi==0.110.0
git+https://github.com/Tagirijus/fountain.git@7da5447abae640f34448dd36fee83f47a7415fcf
playscript==0.2.7
requests==2.31.0

autopep8==2.0.4
flake8==7.0.0
myst-parser==0.18.0
sphinx==5.1.1
sphinx-rtd-theme==2.0.0
uvicorn==0.28.0
