fastapi==0.115.0
git+https://github.com/Tagirijus/fountain.git@7da5447abae640f34448dd36fee83f47a7415fcf
playscript==0.2.7
requests==2.32.3

autopep8==2.3.1
flake8==7.1.0
myst-parser==3.0.1
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
uvicorn==0.30.1
